.toast {
    position: fixed;
    top: var(--space-lg);
    left: 50%;
    transform: translateX(-50%);

    background: var(--color-toast-bg);
    color: var(--color-white);

    padding: var(--space-sm) var(--space-md);
    border-radius: var(--radius-md);

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

    font-size: var(--font-sm);
    z-index: 9999;
}
