@import "./variables.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;
    background-color: var(--color-white);
    color: var(--color-gray-900);
}

button {
    font-family: inherit;
}
